STAGE=dev
TABLE_NAME=CommunityBoard-dev
IMAGES_BUCKET=highland-oak-images-dev
USER_POOL_ID=us-east-1_XXXXXXXXX
USER_POOL_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
ALLOWED_ORIGIN=http://localhost:3002
CLOUDFRONT_DOMAIN=https://dXXXXXXXXXXX.cloudfront.net
AWS_REGION=us-east-1
